body{
	background: #08325F;
	background: radial-gradient(at left top, #08325F, #040D18 25% );
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: 0;
}
*{
	margin: 0;
	padding: 0;
	color: #fff;
}
.logo{
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	margin-top: 5px;
}
.main{
	margin: 2% 0 0 0;
}
nav{
	color: #fff;
}
.out{
	color: #fff;
}
#navbarText{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 90px;
}
.divider{
	display: grid;
	grid-template-columns: 60% 40%;
	justify-content: space-between;
	margin-top: 5%;
}
.illustration{
	height: 530px;
	width: 530px;
	background: transparent;
}
.writeUp{
	padding-top: 50px;	
}
.text-gradient{
	font-size: 62px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	padding-bottom: 20px;
}
.foot{
	font-size: 52px;
	width: 60%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	padding: 5px 10px 30px 10px;
	text-align: center;
}
.paraText{
	font-size: 14px;
	font-weight: 400;
	color: #81AFDD;
}
.people-text{
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	margin-left: 10px;
}
.news{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 30px;
}
.google, .slack, .dropbox, .shopify{
	width: 70px;
}
.companies{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-left: 20%;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 60%;
}
.carder{
	background: #0F4279;
	background: radial-gradient(at right bottom, #1B78DE, #08325F, #08325F, #08325F 85%, #1B78DE );
	width: 100%;
	height: fit-content;
	padding: 7% 4%;
	margin-bottom: 200px;
}
.up-border::before{
	content: '';
	height: 5px;
	width: 50px;
	position: absolute;
	left: 0;
	right:0;
	top: -15px;
	background: linear-gradient(45deg, #AE67FA, #F49867);
}
.what-is{
	position: relative;
	margin-bottom: 50px;
}
.news-input{
	width: 420px;
	height: 20px;
	padding: 25px 25px;
}
.grid1{
	display: grid;
	grid-template-columns: 30% 70%;
	margin-bottom: 60px;
}
.grid2{
	display: grid;
	grid-template-columns: 70% 30%;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
.grid3{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.flex1, .flex2, .flex3{
	margin-bottom: 20px;
	width: 30%;
	margin-right: 3%;
}

.beyond h1{
	font-size: 35px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.explore p{
	font-size: 14px;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: right;
	font-weight: 800;
}
.containera{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 90px;
}
.containerb{
	background: #031B34;
	margin: 0;
	margin-bottom: -15px;
	padding-top: 10%;
}
.flex-a{
	display: flex;
	flex-direction: column;
	width: 45%;
}
.flex-a h2{
	font-size: 28px;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
	margin-top: -15px;
}
.flex-a p{
	font-size: 14px;
	margin-top: 20px;
	color: #FF8A71;
}
.section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 90px;
}
.flex-b{
	display: flex;
	flex-direction: column;
	width: 55%;
}
.sep{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.sep p{
	font-size: 12px;
	color: #81AFDD;
	margin-top: -15px;
}
.improve{
	font-size: 16px;
}
.flex-d h2{
	font-size: 34px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: -webkit-linear-gradient(45deg, #AE67FA, #F49867);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.flex-d p:nth-child(1){
	color: #71E5FF;
	font-size: 13px;
}
.flex-d p:nth-child(3){
	color: #81AFDD;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.flex-d p:nth-child(4){
	color: #FF8A71;
	font-size: 13px;
}
.sectionb{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 150px;
	position: relative;
}
.image5{
	height: 420px;
	width: 390px;
}
.semi-circle::before{
	content: '';
	height: 320px;
	width: 100px;
	position: absolute;
	left: -100px;
	right:0;
	bottom: 0;
	background: #012b57;
}
.flex-c{
	width: 40%;
	position: relative;
}
.flex-d{
	margin-top: 5%;
}
.card-gradient{
	background: linear-gradient(45deg, #AE67FA, #F49867);
	width: 100%;
	height: fit-content;
	border-radius: 5px;	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 40px 40px;
	margin-bottom: 150px;
}

.flex-e p{
	font-size: 13px;
	font-weight: 600;
	color: #000;
	margin-bottom: 0;
}
.flex-e h4{
	color: #000;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 800;
	margin-top: 5px;
}
.sectionc h2{
	font-size: 52px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: -webkit-linear-gradient( bottom right, #F49867 65%, #AE67FA );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
	margin-bottom: 100px;
}
.rectangle1{
	width: 100%;
	height: 287px;
}
.flex-j{
	background: #031B34;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 30px 30px 20px 30px;
}
.flex-g{
	width: 427px;
}
.flex-k{
	width: 357px;
}
.flex-l{
	background: #031B34;
	width: 100%;
	height: 193px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px 30px 5px 30px;
	margin-bottom: 41px;
}
.flex-h{
	width: 352px;
}
.flex-j div p{
	font-size: 13px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-j p{
	font-size: 13px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-j div h4{
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-l div h4{
	font-size: 19px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-l p{
	font-size: 13px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sectiond{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 150px;
	flex-wrap: wrap;
}
.rectangle2, .rectangle3, .rectangle4, .rectangle5{
	width: 100%;
	height: 130px;
}
.foot-grid-div{
	display: grid;
	grid-template-columns: 42% 58%;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 60px;
}
.foot-grida{
	display: flex;
	flex-direction: column;
}
.foot-grida img{
	width: 92px;
	height: 25px;
	margin-bottom: 30px;
}
.foot-grida p{
	font-size: 13px;
	margin-bottom: 70px;
}
.foot-gridb{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.foot-gridb ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.foot-gridb ul li:nth-child(1){
	margin-bottom: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.foot-gridb ul li{
	font-size: 13px;
	margin-bottom: 18px;
	font-weight: 400;
}
.lit:hover{
	color: red;
}
#bto:hover{
	background: #fff;
	color: #000;
}
#bto{
	color: #fff;
	background: transparent;
}
.flutter{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
	.illustration{
		margin-top: 60px;
	}
	.foot{
		font-size: 40px;
		width: 100%;
	}
	.foot-gridb ul:nth-child(1){
		margin-left: 0;
	}
	.foot-gridb{
		width: 100%;
	}
	.foot-grid-div{
		display: flex;
		flex-direction: column;
	}
	.semi-circle::before{
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		left: -100px;
		right:0;
		bottom: 50px;
		background: #042C54;
	}
	.writeUp{
		padding-top: 10px;	
		text-align: center;
		padding-bottom: 10px;
	}
	.main{
		margin: 2% 0 0 0;
	}
	.divider{
		display: flex;	
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.news{
		justify-content: center;
		
	}
	.companies{
		width: 100%;
		margin-left: 0;
		justify-content: space-between;
	}
	.news-input{
		width: 220px;
		height: 35px;
	}
	#navbarText{
		margin-left: 0;
	}
	.logo{
		margin-top: 0;
	}
	.carder{
		padding: 10% 4%;
	}
	.up-border::before{
		top: -10px;
	}
	.grid2{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.beyond h1{
		font-size: 30px;
	}
	.flex1, .flex2, .flex3{
		width: 100%;
	}
	.what-is{
		margin-bottom: 20px;
	}
	.section{
		flex-wrap: wrap;
	}
	.flex-a p{
		margin-bottom: 80px;
	}
	.sep{
		flex-wrap: wrap;
	}
	.improve{
		margin-bottom: 30px;
	}
	.flex-a, .flex-b{
		width: 100%;
	}
	.sectionb{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.image5{
		height: 480px;
		width: 450px;
		margin-bottom: 50px;
	}
	.flex-c{
		width: 100%;
	}
	.card-gradient{
		flex-wrap: wrap;
	}
	.sectionc h2{
		font-size: 42px;
	}
	.text-gradient{
		font-size: 52px;
	}
	.sectiond{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.try{
		margin-right: 0;
	}
	.flex-g{
		margin-bottom: 50px;
	}
  }
  @media screen and (max-width: 500px) {
	.companies{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.companies img{
		margin-right: 7px;
	}
	.companies img:nth-child(5){
		margin-right: 0;
	}
	.news-input{
		width: 200px;
	}
	.flex-g{
		width: 327px;
	}
	.rectangle1{
		width: 327px;
	}
	.image5{
		height: 420px;
		width: 380px;
	}
  }
